.InputTextdefault{
    padding: 10px;
    aspect-ratio:  1 / 1;
    width: 15px;
    background-color: transparent;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid black;
    text-transform: uppercase;
    margin: 2.5px;
    align-content: center;
}
.InputTextWrong{
    padding: 10px;
    aspect-ratio:  1 / 1;
    width: 15px;
    background-color: red;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid black;
    text-transform: uppercase;
    margin: 2.5px;
    align-content: center;
}